header {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  background-color: #fefefe;
}
.inr__header {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  box-sizing: border-box;
  transition: all 0.3s;
}
/* ============로고=============== */
.header__logo {
  width: 164px;
  height: 50px;
  background-image: url(../img/title\ logo.png);
  background-repeat: no-repeat;
  background-position: center center;
}
/* =================gnb 메뉴=================== */

.header__gnb > ul {
  display: flex;
  align-items: center;
}
.header__gnb > ul > li {
  margin: 0 23px;
}
.header__gnb > ul > li > a {
  display: block;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.3s;
}

.imgwrap {
  width: 16px;
  margin-left: 10px;
}
.imgwrap > img {
  display: block;
  width: 100%;
  height: auto;
}

/* ===============언어선택 드롭다운 메뉴================= */
select {
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  font-weight: bold;
}
/* ======================hamberger======================== */

.demo .menu-icon {
  transform: scale(1.5);
}
:root {
  --bar-bg: #212529;
}
.menu-icon {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.menu-icon .menu-icon__cheeckbox {
  display: block;
  position: relative;
  position: absolute;
  z-index: 2;
  width: 50px;
  height: 50px;
  opacity: 0;
  cursor: pointer;
  -webkit-touch-callout: none;
}
.menu-icon .icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 22px;
  height: 12px;
  margin: auto;
}
.menu-icon span {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: var(--bar-bg, #000);
  transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}
.menu-icon span:first-of-type {
  top: 0;
}
.menu-icon span:last-of-type {
  bottom: 0;
}
.menu-icon.active span:first-of-type,
.menu-icon .menu-icon__cheeckbox:checked + div span:first-of-type {
  top: 5px;
  transform: rotate(45deg);
}
.menu-icon.active span:last-of-type,
.menu-icon .menu-icon__cheeckbox:checked + div span:last-of-type {
  bottom: 5px;
  transform: rotate(-45deg);
}
.menu-icon.active:hover span:first-of-type,
.menu-icon.active:hover span:last-of-type,
.menu-icon:hover .menu-icon__cheeckbox:checked + div span:first-of-type,
.menu-icon:hover .menu-icon__cheeckbox:checked + div span:last-of-type {
  width: 22px;
}
@media (min-width: 1024px) {
  .menu-icon:hover span:first-of-type {
    width: 26px;
  }
  .menu-icon:hover span:last-of-type {
    width: 12px;
  }
}

#mySidenav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50px;
  right: -600px;
  z-index: 1;
  width: 200px;
  height: 100vh;
  /* background-color: #eaebe4; */
  background-color: #fefefe;
  text-align: center;
  box-sizing: border-box;
  transition: all 300ms;
}
#mySidenav > a {
  display: block;
  /* border: 1px solid #000; */
  width: 100%;
  height: auto;
}

.menu-icon__cheeckbox:checked + div + #mySidenav {
  right: -24px;
}
.menu-icon__cheeckbox {
  display: none;
}
@media (max-width: 1600px) {
  .button {
    font-size: 16px;
  }
  .header__gnb > ul > li > a {
    font-size: 16px;
  }
  select {
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  .gnb {
    display: none;
  }
  .inr__header {
    padding: 10px 20px;
  }
}
