.section2 {
  width: 100%;
  height: auto;
  margin: 50px 0 200px 0;
}

/* =================선택 박스들=============== */
.article__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

.article__wrap > article {
  width: calc(25%);
  padding: 60px 0;
  text-align: center;
  box-sizing: border-box;
  transition: all 0.3s;
}
.article__wrap > article > a {
  display: block;
  width: 100%;
  height: auto;
}
.article__wrap > article > a > p {
  margin-top: 40px;
  font-size: 18px;
  font-weight: bold;
}

/* =================마우스 오버 시 ==================== */
.article__box.active:nth-child(1) {
  background-color: #0e4194;
}
.article__box.active > a > p {
  color: #fefefe;
}
.article__box.active:nth-child(2) {
  background-color: #02b1b0;
}
.article__box.active:nth-child(3) {
  background-color: #0192d6;
}
.article__box.active:nth-child(4) {
  background-color: #8dc63f;
}

@media (max-width: 1200px) {
  .article__wrap {
    width: 100%;
  }
}
