.section1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  transition: all 0.3s;
}
/* ==================섹션1 타이틀==================== */
.section1__main--title {
  width: 50%;
}
.section1__main--title > h1 {
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: bold;
  text-align: right;
  transition: all 0.3s;
}
.section1__main--title > h1:nth-child(1) > span {
  color: #0e4194;
}
.section1__main--title > h1:nth-child(2) > span {
  color: #02b1b0;
}
.section1__main--title > h1:nth-child(3) > span {
  color: #0192d6;
}
.section1__main--title > h1:nth-child(4) > span {
  color: #8dc63f;
}

/* ==================섹션1 원형 이미지=================== */
.section1__circle--box {
  display: flex;
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
}
#empty__circle {
  position: absolute;
  top: 100px;
  right: 500px;
  width: 572px;
  height: 572px;
  border: 1px solid #1c1c1c;
  border-radius: 100%;
}
#img__circle {
  position: absolute;
  top: 300px;
  right: 200px;
  overflow: hidden;
  width: 572px;
  height: 572px;
  border-radius: 100%;
}
#img__circle > h2 {
  width: 572px;
  height: 572px;
  background-image: url(../img/getImage.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media (max-width: 1600px) {
  .section1__main--title > h1 {
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: bold;
    text-align: right;
  }
}
